# Include the license file
include LICENSE

# Include headers
include pybase64/_pybase64_get_simd_flags.h

# Include full base64 folder
graft base64
# but the git folder
prune base64/.git
# and hidden files
global-exclude .*
