name: Coverage

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  build_sdist:
    name: Coverage
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2.3.4
        with:
          submodules: recursive

      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: python -m pip install -r requirements-coverage.txt

      - name: Run coverage tests
        env:
          CFLAGS: "-O0 -coverage"
          LDFLAGS: "-coverage"
          COVERAGE_PROCESS_START: "1"
        run: |
          set -exuo pipefail
          python -m coverage erase
          python -m coverage run -a --branch --source=pybase64 setup.py clean_ext build_ext -v -i -f
          pytest --cov=pybase64 --cov-append --cov-branch --cov-report=
          python setup.py clean_ext
          pytest --cov=pybase64 --cov-append --cov-branch --cov-report=
          python -m coverage report --show-missing --fail-under=99  # no AVX+ on CI...
          gcovr -r . -s -e base64 # waiting for fail under option

      - name: Upload coverage to codecov
        run: codecov
