name: Coverage

on:
  push:
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive
          persist-credentials: false

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7.1.6

      - uses: wntrblm/nox@0eee2e45758dbd06d48ebb23476439f0f00e5cbd # 2025.11.12
        with:
          python-versions: "3.14, 3.15, pypy3.10, pypy3.11"

      - name: Install Intel SDE, libxml2-dev & libxslt1-dev
        run: |
          curl -fsSLo ${HOME}/sde.tar.xz https://downloadmirror.intel.com/859732/sde-external-9.58.0-2025-06-16-lin.tar.xz
          mkdir ${HOME}/sde
          tar -C ${HOME}/sde --strip-components 1 -xf ${HOME}/sde.tar.xz
          echo "PATH=${HOME}/sde:${PATH}" >> $GITHUB_ENV
          # as long as lxml does not provide 3.15 wheels
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt1-dev

      - name: Run coverage tests
        run: nox -s coverage -- --with-sde

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: coverage-native.xml,coverage-python.xml
          token: ${{ secrets.CODECOV_TOKEN }}
