name: Coverage

on:
  push:
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build_sdist:
    name: Coverage
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          persist-credentials: false

      - uses: wntrblm/nox@2025.11.12
        with:
          python-versions: "3.14, 3.15, pypy3.10, pypy3.11"

      - name: Install Intel SDE, libxml2-dev & libxslt1-dev
        run: |
          curl -fsSLo ${HOME}/sde.tar.xz https://downloadmirror.intel.com/859732/sde-external-9.58.0-2025-06-16-lin.tar.xz
          mkdir ${HOME}/sde
          tar -C ${HOME}/sde --strip-components 1 -xf ${HOME}/sde.tar.xz
          echo "PATH=${HOME}/sde:${PATH}" >> $GITHUB_ENV
          # as long as lxml does not provide 3.15 wheels
          sudo apt-get update
          sudo apt-get install -y libxml2-dev libxslt1-dev

      - name: Run coverage tests
        run: nox -s coverage -- --with-sde

      - name: Upload coverage to codecov
        uses: codecov/codecov-action@v5
        with:
          files: coverage-native.xml,coverage-python.xml
          token: ${{ secrets.CODECOV_TOKEN }}
