name: MSYS2 Tests

on:
  push:
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    name: Test with MSYS2 ${{ matrix.sys }}
    runs-on: windows-2025
    strategy:
      matrix:
        include:
          - { sys: msys, toolchain: "gcc" }
          - { sys: mingw64, env: mingw-w64-x86_64- }
          - { sys: ucrt64, env: mingw-w64-ucrt-x86_64- }
          - { sys: clang64, env: mingw-w64-clang-x86_64- }
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive
        persist-credentials: false
    - name: 'Setup MSYS2'
      uses: msys2/setup-msys2@v2
      with:
        msystem: ${{matrix.sys}}
        update: true
        install: >-
          make
          ${{matrix.env}}cmake
          ${{matrix.env}}ninja
          ${{matrix.env}}${{matrix.toolchain || 'toolchain' }}
          ${{matrix.env}}python
          ${{matrix.env}}python-pip
          ${{matrix.env}}python-pytest
          ${{matrix.env}}python-pygments
          ${{matrix.env}}python-setuptools
          ${{matrix.env}}python-typing_extensions
    - name: "Run tests"
      shell: msys2 {0}
      env:
        CIBUILDWHEEL: 1
        CC: cc
      run: |
        # virtual env seems to be broken
        # just allow breaking system packages, we're in CI
        python -m pip install --break-system-packages -v --no-build-isolation .
        python -m pytest
