name: Valgrind

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:

jobs:
  build_sdist:
    name: Valgrind
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: deadsnakes/action@v2.1.1
        name: Install Python
        with:
          python-version: "3.10"
          debug: true

      - name: Install dependencies
        run: |
          set -exuo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends valgrind
          python -m pip install -r requirements-dev.txt

      - name: Run valgrind tests
        run: |
          set -exuo pipefail
          CFLAGS="-O0" python setup.py build_ext -fiv
          PYTHONMALLOC=malloc valgrind --leak-check=full --show-leak-kinds=definite --errors-for-leak-kinds=definite --error-exitcode=2 $(which python) -m pytest
