name: Valgrind

on:
  push:
    branches-ignore:
      - "dependabot/**"
      - "pre-commit-ci-update-config"
  pull_request:

concurrency:
  group: valgrind-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Valgrind
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install dependencies
        run: |
          set -exuo pipefail
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends valgrind python3.12-dbg python3.12-dev
          python3.12-dbg -mvenv ./venv-dbg
          ln -sf $(pwd)/venv-dbg/bin/python /usr/local/bin/python-pb64
          python-pb64 -m pip install --upgrade pip setuptools wheel
          python-pb64 -m pip install -r requirements-test.txt

      - name: Run valgrind tests
        run: |
          set -exuo pipefail
          CFLAGS="-O0" CIBUILDWHEEL=1 python-pb64 -m pip install -e .
          PYTHONMALLOC=malloc valgrind --leak-check=full --show-leak-kinds=definite --errors-for-leak-kinds=definite --error-exitcode=2 $(which python-pb64) -m pytest
